.btn-grey {
    background-color: #E7E7E7;
}

.btn {
    border: none;
    color: $white;

    &:hover, &:active, &:focus {
        color: $white;
    }
}

.btn-primary {
    background: $blue; 
}

.btn-success {
    background: $green;
}

.btn-danger {
    background: $red;
}