.card-title {
    color: $black;
    font-size: $card-title-size;
    position: relative;
}

.card-header {
    border-bottom: none;
}

.card-image {
    width: 100%;
    height: 178px;
    background-color: $grey;
}

.card-time::before {
    content: '\f017';
    font-family: 'FontAwesome';
    padding-right: 7px;
}

.card-body {
    font-size: $card-body-size;
    background-color: $card-cap-bg;
}

.card-list {
    padding: 0 1rem;
    border: none;
    background-color: inherit;
}

a, a:hover {
    all: unset;
    cursor: pointer;
}