.row-dropdowns {
    position: relative;
    height: 75px;
    z-index: 1000;
}

.dropdown-list {
    width: 670px;
    height: 370px;
    color: $white;
    padding: 2em;
    overflow-y: scroll;
    font-size: $card-title-size;
    
    &[aria-labelledby="dropdown-ingredients"] {
        background-color: $blue;
    }
    &[aria-labelledby="dropdown-appliance"] {
        background-color: $green;
    }
    &[aria-labelledby="dropdown-ustensils"] {
        background-color: $red;
    }
}

.dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-dropdown {
    opacity: 1;
    cursor: pointer;
}

.dropdown-filters {
    width: 170px;
}

.dropdown-toggle {

    &::after {
        border: none;
        font-family: 'FontAwesome';
        content: '\f078';
    }
}