.tag {
    position: relative;
    color: $white;

    &[data-list="ingredients"] {
        background-color: $blue;
    }
    &[data-list="appliances"] {
        background-color: $green;
    }
    &[data-list="ustensils"] {
        background-color: $red;
    }
}

.close-tag {
    position: relative;
    padding-left: 1em;
    bottom: -1px;
}