/***************************** Override bootstrap style  ****************************/
/* Heading style */
$headings-font-family: 'DM Sans', 'sans-serif';
$headings-font-weight: 700;
$headings-color: #D04F4F;

/* Input style */
$input-bg: #E7E7E7;
$input-group-addon-bg: #E7E7E7;